@import "flux.css";

@theme {
    --font-brand: "Saira Semi Condensed", sans-serif;
    --font-sans: "Inter", sans-serif;
}

[data-flux-card] {
    @apply dark:[:where(&)]:bg-white/5;
}

[data-flux-modal] dialog {
    @apply dark:bg-zinc-850 dark:ring-zinc-700/70;
}

[data-flux-modal] dialog > :has(+ .absolute:last-child) {
    margin-bottom: 0;
}

[data-flux-modal] > dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
}

[data-flux-breadcrumbs-item] {
    font-size: var(--text-xs);
    line-height: var(--tw-leading, var(--text-xs--line-height));
}

@source "../views/**/*.blade.php";
